
header {
    display: flex;
    width: 100%;
    margin-top: 30px;
    font-size: 1.7em;
}
header a {
    color: #001729;
    background-color: yellow;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 0.2s;
}

header a:hover {
    padding-left: 0;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
header .line {
    background-color: yellow;
    flex-grow: 1;
}
h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
}
h1::first-letter {
    color: yellow;
}