
header {
    display: flex;
    width: 100%;
    margin-top: 30px;
    font-size: 1.7em;
}
header a {
    color: #001729;
    background-color: yellow;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: 0.2s;
}

header a:hover {
    padding-left: 0;
    padding-right: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
header .line {
    background-color: yellow;
    flex-grow: 1;
}
h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 5px 10px;
}
h1::first-letter {
    color: yellow;
}

.wrap {
    width: 100%;
    background-color: #F8F9F2;
    padding: 10px;
}
.wrap .content {
    background-color: #001729;    
    border: #F8F9F2 solid 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transform: translateY(-50px);
    min-height: 80vh;
    overflow: hidden;
}
ul {
    padding: 20px;
}
li {
    margin: 15px;
    position: relative;
    border-left: 5px solid yellow;
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;    
    transition: 0.2s;
}
.text {
    flex-grow: 1;
}