input {
    display: none;
}
main {
    margin-top: 100px;
}
input#acts:checked ~ .acts {
    display: block;
}
input#lit:checked ~ .lit {
    display: block;
}
input#acts:checked ~ .tabs label[for='acts'],
input#lit:checked ~ .tabs label[for='lit'] {    
    color: #F8F9F2;
    background-color: #001729;
    width: 60%;
}
input#acts:checked ~ .tabs label[for='lit']:hover,
input#lit:checked ~ .tabs label[for='acts']:hover {
    background-color: #D7D8D2;
}
.acts, .lit {
    display: none;
}
.tabs {
    display: flex;
    color: #001729;
    background-color: #F8F9F2;
}
.tabs label {
    width: 40%;
    text-align: center;
    padding: 10px 0 5px 0;
    transition: 0.2s width;
    cursor: pointer;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
}
.desc {
    color: #91938f;
}
.links {
    right: 0;
    display: flex;
    align-items: center;
}
.links a{
    margin: 0 10px;
    display: block;
    background-color: yellow;
    color: #001729;
    text-transform: uppercase;
    padding: 5px;
    transition: 0.2s;
}
.links a > i {
    display: none;
}
.links a:hover {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transform: translateX(10px);
}